*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto",sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main{
    overflow: hidden;
}

section[class*='bloque']{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: rgb(219, 219, 219);
    border: dashed 1px;
    text-align: center;
    flex-wrap: wrap;
}

.periodo{
    font-weight: bold;
    width: 200px;
    padding-bottom: 1rem;
}

@media(min-width:710px) {
    .periodo{
        width: 100px;
        padding: 0px;
    }
    .clase{
        margin: 0px;
    }
}

.clase{
    width: 200px;
    height: 100px;
    border: solid black 2px;
    border-top: solid rgb(0, 0, 255) 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in-out;
    transition: border-top-color .5s ease-in-out;
    margin: 5px;
}

.clase:hover{
    background-color: rgb(194, 194, 194);
}

.requerimientos{
    width: 100vw;
    height: 250px;
    background-color: rgba(255,255, 255, .95);
    color: black;
    font-size: xx-large;
    position: fixed;
    top: 100%;
    left: 0px;
    transform: translateY(-100%);
    transition: transform .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.requerimientos .abre,.requerimientos .requiere{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.hidden{
    transform: translateY(0px);
}

input{
    display: none;
}

input:checked~div{
    border-top-color: green;
}
